<%- include('partials/header') %>
    <script src="jquery-3.6.4.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <div class="fight-container">
        <div class="player-select">
            <form action="/" method="post">
                <select name="characterSelect" id="">
                    <option value="Blockman">Blockman</option>
                    <option value="Bugz">Bugz</option>
                    <option value="Flowerz">Flowerz</option>
                    <option value="Butterfly">Butterfly</option>
                    <option value="Multihead">Multihead</option>
                    <option value="Squidman">Squidman</option>
                </select>
                <button type="submit" name="button" class="btn btn-primary">Select
                    Fighter</button>
            </form>

        </div>
       
    </div>
    <div class="fight-box">
        
        <div class="mainContent playerContent">
            <div class="namePhoto">
                <h1 id="<%= character.name %>"><%= character.name %></h1> 
                <img src="<%=character.photo%>" width="200px">
            </div>
            <p><%= character.HP %></p>
        </div>
        
        <h2>VS.</h2>
        
        <div class="mainContent enemyContent">
            <div class="namePhoto">
                <h1><%= newTarget.name %></h1> 
                <img src="<%=newTarget.photo%>" width="200px">
            </div>
            <p><%= newTarget.HP %></p>
        </div>

        <div class="actionButtons">
            <form action="/attack" method="post">
                <button class="btn btn-primary" id="attack">
                    Attack
                </button>
            </form>
            <form action="/enemyAttack" method="post">
                <button class="btn btn-primary" id="enemyAttack">
                    Enemy Attack
                </button>
            </form>
        </div>
        
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<%- include('partials/footer') %>